# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Streamlit
.streamlit/

# Jupyter (optional)
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Build / cache
dist/
build/
*.egg-info/

# VS Code / IDE
.vscode/
.idea/